<!--
<div class="page-content">
  <div class="page-left">
    <div class="img-container">
      <img src="https://artist.api.cdn.hbo.com/images/GVr5CnQGYWJmiiMkIAAAU/tile?v=5f5b90a4337b2fed2bd92ad2a0a491d4&size=1280x720">
      <div class="play-button-background">
        <button mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
    <h1>American Pie 2</h1>
    <p>Hold the pastry&#45;&#45;Jim and his sex-starved buddies are back in search of more laughs (and action, of course) in this riotous sequel. A year older and more experienced, the boys&#45;&#45;Jim, Stifler, Oz, Kevin and Finch&#45;&#45;head to a beautiful lakeside house for a raucous summer complete with sexy babes, booze, crazy glue, a visit from the exotic Nadia, and the return of Stifler's mom!</p>
    <button mat-raised-button color="primary">WATCH PARTY</button>
  </div>
  <div class="page-right">
    <button mat-stroked-button>PREVIEW</button>
  </div>

  <h1>Comments</h1>
</div>
-->

<div class="page-content">

  <div class="video-outer">
    <video controls id="video"></video>
  </div>

  <h1>American Pie 2</h1>
  <p>Hold the pastry--Jim and his sex-starved buddies are back in search of more laughs (and action, of course) in this
    riotous sequel. A year older and more experienced, the boys--Jim, Stifler, Oz, Kevin and Finch--head to a beautiful
    lakeside house for a raucous summer complete with sexy babes, booze, crazy glue, a visit from the exotic Nadia, and
    the return of Stifler's mom!</p>
  <button mat-raised-button color="primary">WATCH PARTY</button>
  <h1>Comments</h1>
</div>



