<mat-card>
  <div class="my-popup">
    <div class="header">
      <img src="https://yabancidizi.vip/uploads/users/15e62d84ee3fb8.jpg">
      <div class="user-title">ayslara</div>
    </div>
    <div class="content">
      <mat-nav-list>
        <a mat-list-item>
          <!--<mat-icon>face</mat-icon>-->
          <span>Profil & ayarlar</span>
        </a>
        <mat-list-item (click)="exitToApp()">
          <!--<mat-icon>exit_to_app</mat-icon>-->
          <span>Oturumu kapat</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</mat-card>
