<div class="main-content">
  <h2>Filmler</h2>
  <mat-chip-list>
    <mat-chip>Featured</mat-chip>
    <mat-chip>A-Z</mat-chip>
    <mat-chip>Originals</mat-chip>
    <mat-chip>Kids</mat-chip>
    <mat-chip>Action</mat-chip>
    <mat-chip>Comedy</mat-chip>
    <mat-chip>Crime</mat-chip>
    <mat-chip>Documentaries</mat-chip>
    <mat-chip>Drama</mat-chip>
    <mat-chip>Fantasy/Sci-Fi</mat-chip>
    <mat-chip>Horror</mat-chip>
  </mat-chip-list>

  <app-just-added-slider></app-just-added-slider>

</div>

