<div class="default-title">
  <h2>Featured Movies</h2>
</div>

<div class="default-slider">
  <div class="default-items horizontal-list" id="slider">
    <div class="item" *ngFor="let item of items">
      <div class="item-img-outer">
        <div class="item-img-inner">
          <div class="item-background">
            <img class="item-img" src="{{item.img}}" alt="">
          </div>
        </div>
      </div>
      <div class="item-details">
        <div class="item-title">{{item.title}}</div>
      </div>
    </div>
  </div>
</div>
