<mat-toolbar>
  <button mat-icon-button class="close-button">
    <app-close-icon></app-close-icon>
  </button>
</mat-toolbar>
<mat-nav-list disableRipple>
  <a mat-list-item routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
    Ana sayfa
  </a>
  <a mat-list-item routerLinkActive="active" routerLink="/series">
    Diziler
  </a>
  <a mat-list-item routerLinkActive="active" routerLink="/movies">
    Fimler
  </a>
  <a mat-list-item routerLinkActive="active" routerLink="/originals">
    Originals
  </a>
  <a mat-list-item>
    Just Added
  </a>
  <a mat-list-item>
    Son Şans
  </a>
  <a mat-list-item>
    Çok Yakında
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list disableRipple>
  <a mat-list-item>
    Aksiyon
  </a>
  <a mat-list-item>
    Comedy
  </a>
  <a mat-list-item>
    Crime
  </a>
  <a mat-list-item>
    Documentaries
  </a>
  <a mat-list-item>
    Drama
  </a>
  <a mat-list-item>
    Fantasy & Sci-Fi
  </a>
  <a mat-list-item>
    Korku
  </a>
  <a mat-list-item>
    International
  </a>
  <a mat-list-item>
    Kids & Family
  </a>
  <a mat-list-item>
    Latino
  </a>
  <a mat-list-item>
    Music
  </a>
</mat-nav-list>
