// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movie-max-primary: mat-palette($mat-gray, 900);
$movie-max-accent: mat-palette($mat-gray, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movie-max-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movie-max-theme: mat-dark-theme((
  color: (
    primary: $movie-max-primary,
    accent: $movie-max-accent,
    warn: $movie-max-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($movie-max-theme);

/* You can add global styles to this file, and also import other style files */

mat-sidenav-content {
  background-color: #1f1f1f;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(255, 255, 255, 0.32);
}

/* width */
.mat-drawer-inner-container::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.mat-drawer-inner-container::-webkit-scrollbar-track {
  // background: #fff;
}

/* Handle */
.mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 24px;
}

/* Handle on hover */
.mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.36);
}

svg {
  fill: rgba(255, 255, 255, 0.6);
}

.mat-chip.mat-standard-chip {
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: transparent;
}

.primary-toolbar {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05), 0 1px 3px rgba(0 0 0 /.1), inset 0 -0.5px 0 rgba(255 255 255 / 0.1) !important;
  background-color: rgba(45 45 45 / 0.88) !important;
}

:root {
  --mat-icon-color: rgba(255, 255, 255, 0.6);
  --secondary-color: rgba(255, 255, 255, 0.6);
}
