<form autocomplete="off" spellcheck="false">
  <mat-form-field floatLabel="never">
    <mat-label>Kişi, film veya dizi ara...</mat-label>
    <input matInput autofocus>
  </mat-form-field>
</form>

<div class="carousel">
  <figure>
    <img src="https://artist.api.cdn.hbo.com/images/GXdbR_gOXWJuAuwEAACVH/tileburnedin?v=4511ec29d718ac344c3765d05f453779&size=360x202&compression=low&protection=false&scaleDownToFit=false&productCode=hboMax&overlayImage=urn:warnermedia:brand:warnerbros" alt="">
  </figure>
  <figure>
    <img src="https://artist.api.cdn.hbo.com/images/GXnJ9_wWT34CgwwEAAADK/tileburnedin?v=76656c697199ca8c5545c91431517c95&size=360x202&compression=low&protection=false&scaleDownToFit=false&productCode=hboMax&overlayImage=urn:warnermedia:brand:cartoon-network" alt="">
  </figure>
  <figure>
    <img src="https://artist.api.cdn.hbo.com/images/GWjUHgALmU66BwgEAAAH9/tileburnedin?v=90127869c1fe61e26b70407a308da7c4&size=360x202&compression=low&protection=false&scaleDownToFit=false&productCode=hboMax&overlayImage=urn:warnermedia:brand:hbo" alt="">
  </figure>
  <figure>
    <img src="https://artist.api.cdn.hbo.com/images/GXmlR5wlnRcNVoAEAAAOz/tileburnedin?v=76fe1591d8b94765354ac522b4f7652e&size=360x202&compression=low&protection=false&scaleDownToFit=false&productCode=hboMax&overlayImage=urn:warnermedia:brand:criterion" alt="">
  </figure>
</div>
